<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Exercise Generator</h1>
    <form action="/" method="post">
        <label for="prompt">Prompt</label>
        <input type="text" name="prompt" id="prompt" autofocus>
        <label for="model">Model</label>
        <select name="model" id="model" class="decorated">
          <option value="gpt-4o">🤖 ChatGPT 4o</option>
          <option value="gpt-4o-mini" selected="selected">🤖 ChatGPT 4o-mini</option>
          <option value="o1-preview" disabled="disabled">🔒 ChatGPT o1-preview</option>
          <option value="o1-mini" disabled="disabled">🔒 ChatGPT o1-mini</option>
        </select>
        <label for="model">Max tokens</label>
        <input type="number" name="max_tokens" id="max_tokens" value="50">
        <input type="submit" value="Send prompt">
        <h3>Output</h3>
        <section id="output">{{ output|safe }}</section>
    </form>
</body>
</html>