<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ERROR</title>
</head>
<body>
    <h1>404: Where's the damn page at?</h1>
    <img src="https://i.kym-cdn.com/entries/icons/original/000/019/277/confusedtravolta.jpg" alt="Confused Travolta">
    <style>
        img {
            margin: 2rem;
            width: 36%;
            margin-left: 32%;
        }
    </style>
</body>
</html>