<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>ERROR</title>
</head>
<body>
    <h3>Oopsie woopsie... Something went wrong!</h3>
    <img src="https://static.wikia.nocookie.net/beluga/images/d/d0/Crying_Cat.jpg" alt="Sad cat">
    <style>
        body{
            background-color: red;
        }
        h3{
            width: 100%;
            text-align: center;
            font-size: 3rem;
            margin: 1rem;
            color: white;
            font-weight: 900;
        }
        img {
            margin: 2rem;
            width: 36%;
            margin-left: 32%;
        }
    </style>
</body>
</html>