
{% extends "layout.html" %}

{% block title %}Prompts{% endblock %}

{% block content %}
<h1>Prompt Generator</h1>
<div class="centered">

  <form action="/prompt" method="post">
      <label for="prompt">Prompt</label>
      <input type="text" name="prompt" id="prompt" autofocus>
      <label for="model">Model</label>
      <select name="model" id="model" class="decorated">
        <option value="gpt-4o">🤖 ChatGPT 4o</option>
        <option value="gpt-4o-mini" selected="selected">🤖 ChatGPT 4o-mini</option>
        <option value="o1-preview">🔒 ChatGPT o1-preview</option>
        <option value="o1-mini">🔒 ChatGPT o1-mini</option>
        <option disabled>──────────</option>
          <option value="ft:gpt-4o-mini-2024-07-18:cs24dat504::ABooTlwq">🤖 ChatGPT 4o-mini (Fine Tuned)</option>
      </select>
      <input type="submit" value="Send prompt">
      <h3>Output</h3>
      <section id="output">{{ output|safe }}</section>
  </form>
</div>
{% endblock %}
