{% extends "layout.html" %}

{% block title %}Semesters{% endblock %}

{% block content %}
    <h1>Semesters</h1>
    <ul class="selector">
        {% for semester in semester_list %}
            <li>
                <a href="{{ url_for('show_semester', semester_id=semester.semester_id) }}">
                    {{semester}}
                </a>
            </li>
        {% else %}
            <li>No semesters found.</li>
        {% endfor %}
    </ul>
    <h2>New Semester</h2>
    <div class="centered">
        <form method="post">
            {{ form.csrf_token }}
            {{ form.name.label }}
            {{ form.name }}
            {{ form.submit() }}
        </form>
    </div>
{% endblock %}