{% extends "layout.html" %}

{% block title %}Semesters{% endblock %}

{% block content %}
<h1>Courses in {{ semester.semester_year }}-{{ semester.semester_name }}</h1>

<ul class="item-selector">
    {% for course in course_list %}
        <li>
            <a href="{{ url_for('show_course', semester_id=semester.semester_id, course_id=course.course_id) }}">
                {{course}}
            </a>
        </li>
    {% else %}
        <li>No courses found.</li>
    {% endfor %}
</ul>
<h2>New course</h2>
<form method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }}
    {{ form.submit() }}
</form>
{% endblock %}