{% extends "layout.html" %}

{% block title %}Course{% endblock %}

{% block content %}
<h1>{{ lesson }} in {{ course.course_name }}</h1>
<div class="centered">
    <ol class="crud">
        {% for exercise in exercise_list %}
            <li data-item-id="{{ exercise.exercise_id }}" data-item-type="exercise">
                <a class="name" title="View {{exercise}}" href="#">
                    {{ exercise }}
                </a>
                <button onclick="renameItem(event)"><span class="material-icons update" title="Rename {{exercise}}">edit</span></button>
                <button onclick="deleteItem(event)"><span class="material-icons delete" title="Delete {{exercise}}">delete</span></button>
            </li>
        {% else %}
            <li class="empty"><p>No exercises found.</p></li>
        {% endfor %}
        <li class="create" title="Create exercise"><button onclick="createExercise('{{ lesson_id }}')"><span class="material-icons">add</span></button></li>
    </ol>
</div>
<script src="{{ url_for('static', filename='js/crud.js') }}"></script>
{% endblock %}